<% layout("layouts/boilerplate.ejs") %>
<% block('head').append('<link rel="stylesheet" href="/css/availablerooms.css">') %>


<h1>all available rooms Page</h1>

    <div class="d-flex flex-row flex-wrap justify-content-sm-start align-items-center">

            <% for(let i=0;i<rooms.length;i++){ %>
                   
                    <div class="card m-1" >
                        <div class="card-header">
                            <strong class="card-title">Room No:<span id="roomNumber"> <%= rooms[i].roomNo %> </span> <small style="margin-left:8rem">Available Beds:<span class="badge badge-success float-right mt-1 mr-4"><%=(rooms[i].noofStudents-rooms[i].allotedStudents.length)%></span></small></strong>
                        </div>
                        <div class="card-body" style="background-color: #6674cc;">
                            <p class="card-text">Hostel No:<span id="hostelNumber"> <%= rooms[i].hosterBlock %> </span></p>
                            <p class="card-text">Floor No:<span id="floorNumber"><%= rooms[i].floorNo %></span></p>
                            <p class="card-text">Room Type: <span class="room-type ml-3"><%- rooms[i].roomType %></span></p>
                            <form action="/room/<%= rooms[i]._id %>/register" method="POST">
                                <button class="btn btn-light">register</button>
                            </form>
                        </div>
                    </div>
               <% } %>
    </div>


<script>
    const item=document.getElementById("item3");
    item.classList.add("active");
</script>
<% block('footer').append("") %>
